.modal-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgb(91, 107, 107);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  padding: 10px;
  background-color: rgb(248, 246, 246);
  color: black;
  position: relative;
  border-radius: 10px;
}
.modal > form {
  display: flex;
  flex-direction: column;
  margin: 100px;
  width: 60%;
  justify-content: center;
  /* align-items: center; */
}
.modal > span {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.modal-header {
  font-weight: 700;
  position: absolute;
  top: 20px;
  font-size: large;
}

.modal-footer {
  border: none;
  margin: 20px;
  padding: 5px;
  background-color: rgb(184, 221, 184);
  border-radius: 10px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.name-label {
  margin: 5px;
  margin-left: 0px;
  font-weight: 700;
  font-size: large;
}
.name-input {
  padding: 10px;
}
