.header-container {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgb(53, 13, 54);
  color: white;
}

.header-left {
  display: flex;
  width: 25%;
  justify-content: end;
}
.header-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}
.header-middle > input {
  padding: 5px;
  background-color: transparent;
  /* width: 40%; */
  /* font-size: medium; */

  border: none;
}
.search-icon {
  font-size: small;
}
.header-right {
  display: flex;
  align-items: center;
  width: 35%;
  display: flex;
  justify-content: end;
  margin: 4px 10px;
}
.profile-image {
  border-radius: 100%;
  margin: 2px 10px;
  cursor: pointer;
}
.user-name {
  margin-right: 10px;
}
.signOut-modal-container {
  position: fixed;
  top: 5%;
}
