.login-page {
  color: rgb(190, 174, 174);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login-options {
  margin: 10px;
}
.header {
  font-size: 30px;
}

.login-button {
  border: 1px solid white;
  background-color: antiquewhite;
  margin-right: 10px;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
}
.signUp-button {
  border: 1px solid white;
  background-color: antiquewhite;
  margin-left: 10px;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
}
.submit-button {
  border: 1px solid rgb(54, 52, 52);
  background-color: antiquewhite;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;

  margin: 10px;
}
.body {
  color: black;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 350px;
  background-color: antiquewhite;
  margin: 10px;
  border-radius: 10px;
}
.body > form > div {
  margin-top: 20px;
}
.body > form > div > input {
  margin-left: 10px;
  padding: 2px;
}
